* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

header {
    height: 25rem;
    background-color: #3161e0;
}

.reducted-width {
    width: 80%;
    margin: 0 auto;
}

.navigation {
    height: 10rem;
}
.main-logo {
    flex-basis: 20%;
}

.main-menu {
    flex-basis: 60%;
}

nav>ul {
    display: inline-block;
}

.login {
    flex-basis: 20%;
}

.main-title {
    height: 10rem;
    background-color: white;
}

.p-beside-img {
    height: 35rem;
}

.bgcolor-lightgray {
    background-color: #f6f6f6;
}
.paragraph {
    width: 70%;
}

.beside-img {
    width: 30%;
}

