* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

header {
    height: 40rem;
    background-color: #3161e0;
}

.navigation {
    width: 80%;
    margin: 0 auto;
}
.main-logo {
    flex-basis: 20%;
}

.main-menu {
    flex-basis: 60%;

}

nav>ul {
    display: inline-block;
}

.login {
    flex-basis: 20%;
}