* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

header {
    height: 40rem;
    background-color: #3161e0;
}

.main-logo {
    flex-basis: 60%;
}

.main-menu {
    flex-basis: 20%;

}

nav>ul {
    display: inline-block;
}